
.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.onePhotographer_container {
    display: contents;
}

.onePhotographer_nom {
    font-size: 64px;
    font-weight: 400;
    color: #d3573c;
    margin: 0;
}