#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button, button.onePhotographer_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* button:hover {
    background-color: #DB8876;
    color:#000000;
    transition: .15s ease-out;
} */

.onephotographer_liste-deroulante {
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
} 
.select option:checked {
    background-color: aqua;
    
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 40px 0px;
    position: fixed;
    bottom: 0;
    right: 30%;

}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form ::placeholder {
    font-size: 20px;
}

form textarea {
    border-radius: 8px;
    width: 100%;
    height: 68px;
    font-size: 24px;
    padding: 25px 0 0 0;
    font-family: inherit;

}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}


/* photographers_section => Card Photographe */

.photographer_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.photographer_nom {
    font-weight: 400;
    margin: 20px 0 0 0;
}

.photographer_lien {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.photographer_ville {
    font-size: 13px;
    font-weight: 400;
    color: #901C1C;
    margin: 0;
}

.photographer_tagline {
    font-size: 10px;
    font-weight : 400;
    color: #000;
    margin: 0;
}

.photographer_prix {
    font-size: 9px;
    font-weight: 400;
    color: #757575;
    margin: 0;
}